.designDeskboard {
    height: 85.2vh;
    background-color: antiquewhite;
}



.containerProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 2em;
}

.card2 {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .designDeskboard {
        height: auto;
    }  
}